body {
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

.stage-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: column;
}

.stage-view {
    width: 1150px;
    height: 680px;
    margin-top: 15px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.box-view {
    display: flex;
    width: 100%;
}

.stage-box {
    /*border-color: #3a3232;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.prod-title {
    font-size: 23px;
    color: #333333;
}

.prod-author-view {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}

.head-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 10px;
}

.prod-author-name {
    font-size: 13px;
    color: #333333;
    margin-left: -10px;
    font-weight: normal;
}

.prod-update-time {
    font-size: 12px;
    color: #6f7180;
    margin-left: 8px;
}

.prod-right-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

.prod-intro-view {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.prod-intro-txt {
    font-size: 15px;
    color: #666666;
    margin-top: 6px;
    margin-bottom: 26px;
}

.prod-bottom-view {
    height: 60px;
    display: flex;
    align-items: center;
}

.prod-bottom-img {
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.zan-num-txt {
    font-size: 12px;
    color: #6f7180;
    margin-left: 2px;
    font-weight: normal;
    padding-top: 10px;
    margin-top: 10px;
}
.prod-btns-view{
    margin-top: 23px;
    display: flex;
    justify-content: center;
}
.btn1{
    width: 70px;
    height: 40px;
    background-color: #00a3cf;
    color: #f0f0f0;
    font-weight: normal;
    align-items: center;
    border-radius: 20px;
    padding-left: 55px;
}
.btn2{
    width: 100px;
    height: 40px;
    background-color: #00a3cf;
    color: #f0f0f0;
    font-weight: normal;
    align-items: center;
    border-radius: 20px;
    padding-left: 30px;
    margin-left: 40px;
}
